<html>
  <head>
    <title>{{title}} – {{subtitle}}</title>
  </head>
  <body>
    <section>
      <h1><span class="pink-af">{{title}}:</span> {{subtitle}}</h1>
      <p>{{description}}</p>
      <span class="disclaimer pink-af">disclaimer:</span> {{disclaimer}}
    </section>
      <p class="tiny-n-cute">powered by: <a href="https://expressjs.com/">express</a>, <a href="https://nodejs.org/">node.js</a>, <a href="https://www.npmjs.com/package/express-handlebars">handlebars</a>, web standards and <a href="https://azure.microsoft.com/services/app-service/?WT.mc_id=mitmcool-website-ticyren">azure</a></p>
    </footer>
  <link rel="stylesheet" href="./index.css">
  </body>
</html>